<div class="forms vh-100 d-flex justify-content-center align-items-center">
    <div class="all-forms">
        <div class="forget-password bg-white shadow p-3 rounded-2">
                <h2 class="text-center">Forget password form</h2>
            <form action="">
                <div class="my-4">
                    <label for="email">Email</label>
                    <input [(ngModel)]="email" name="email" type="email" id="email" class="form-control" placeholder="Enter your email">
                </div>
                <button (click)="forgetPassword()" type="button" class="btn btn-success d-block ms-auto">Send</button>
                <p *ngIf="errMsg" class="alert mt-2 alert-danger">{{errMsg}}</p>
            </form>
        </div>
        
    </div>
</div>